p{
    text-align: center;
    font-size: 200%;
    color: #ff105f;
}

.sbtn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:linear-gradient(to right ,#ff105f,#ffad06); 
    border: 0;
    outline: none;
    border-radius: 30px;
  }
 