body{
  background-color:wheat;
}
.field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.input{
  top: 100px;
  position: absolute;
  width: 280px;
  transition: .5s ;
  background-color: white;
  
  position: relative;
  margin: 6% auto;
  padding: 5px;
  
  overflow: hidden;

}
.sbtn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background:linear-gradient(to right ,#ff105f,#ffad06); 
  border: 0;
  outline: none;
  border-radius: 30px;
}
h1{
  text-align: center;
}